* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: bisque;
}

section {
  margin: 50px;
  background-color: white;
  height: 700px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px black;
}

/* @media ( min-width: 800px ) {
  
  .direta {
    width: 5%;
    float: left;
    height: 800px;
    background-color: #cc4b2c;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: red;
  }
} */

.direta {
  width: 30%;
  float: left;
  height: 100%;
  background-color: #cc4b2c;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin-top: 100px;
  margin-left: 50px;
}

.nav ul li {
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: bolder;
}

.nav ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  color: black;
  cursor: pointer;
}

/* Configuracao especifica da pagina index */
div.sobre {
  /* text-align: center; */
  height: 100%;
}

.sobre h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  color: #cc4b2c;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Anton", sans-serif;
}

.sobre h2 {
  margin-bottom: 30px;
  color: #cc4b2c;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Anton", sans-serif;
}

.sobre button {
  padding: 15px;
  background-color: #cc4b2c;
  color: white;
  border: none;
  border-radius: 20px;
  width: 180px;
}

.sobre button:hover {
  cursor: pointer;
}

.sobre,
div.esquerda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

}

#img-Foto {
  width: 100%;
  /* border-radius: 30%; */
  margin-bottom: 20px;
}

div.icones {
  margin: 20px 0px;
}

.icones img {
  width: 50px;
  height: 50px;
  height: 50px;
  padding-left: 10px;
}

/* Pagina Sobre.html */
.sobre-text {
  height: 100%;
  ;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  color: #cc4b2c;
}

.sobre-text h1 {
  margin-top: 30px;
  margin-bottom: 70px;
}

#text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-family: "Anton", sans-serif;
  color: black;
  text-indent: 100px;
}

#text1 {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-family: "Anton", sans-serif;
  color: black;
  text-indent: 100px;
}

/* Pagina Formacao.html  */

.sobre-formacao {
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 40px; */
  color: #cc4b2c;
}

div.icones-tecnologia {
  width: 500px;
  text-align: center;
}

div.icones-tecnologia,
h1 {
  margin-bottom: 30px;
}

.icones-tecnologia img {
  width: 40px;
  padding-left: 3px;
}

.div-button {
  background-color: #444444;
  color: white;
  text-align: center;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  border-radius: 30px;
  cursor: pointer;
}

.div-button:hover {
  background-color: #645b5b;
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgb(0 0 0 /0.5);
}

dialog {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em rgb(0 0 0 /0.3);
  padding: 50px;
  width: 800px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#dialog-SST {
  height: 500px;
}

#dialog-linguagens {
  height: 500px;
}

#tempo-de-curso {
  color: darkgray;
}

.button {
  border: none;
  width: 80px;
  padding: 8px;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 20px;
  margin-left: 45%;
  background-color: #2848e9;
  cursor: pointer;
  box-shadow: none;
}

.button:hover {
  background-color: darkgrey;
}

/* segundo teste */

#unicesumar {
  width: 40px;
}

#cedup {
  width: 50px;
  height: 30px;
}

.lado-foto-text {
  display: flex;
  justify-content: space-between;
}

.p-dialogo {
  margin-bottom: 10px;
}

.h2-Cedup {
  margin-bottom: 10px;
}

.p-conclusao {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-family: "Anton", sans-serif;
}

.hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

a#Certificado {
  color: #706f6f;
  font-weight: bolder;
}

.h2-Cabecario {
  margin-bottom: 10px;
}

.li-cinza {
  padding: 3px;
  background-color: rgb(161, 159, 159);
}

.li {
  padding: 3px;
  background-color: rgb(222, 215, 215);
}

.h3-cabecario {
  margin: 10px 0;
}

/* project.html */
#Sistema-Incendio {
  height: 500px;
}

#Sistema-Incendio,
h2,
.incendio {
  margin-bottom: 20px;
  text-align: justify;
}

.div-img-sistema {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.img-sistemas {
  width: 160px;
  height: 100px;
}

figcaption {
  margin-top: 10px;
}

#linha {
  width: 100px;
  border-top: 1px solid black;
}

/* Page experience */

#lavori {
  width: 100px;
}

#lavori1 {
  width: 108px;
}

#dialog-lavori {
  height: 500px;
}



#sulNorte {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 80px;
}

#sulNorte1 {
  right: 34px;
  width: 80px;
  position: absolute;
  top: 250px;
}

#dialog-sulnorte {
  height: 500px;
}

.h2-SULNORTE {
  padding: 0;
}

/* page contate */

#post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 313px;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  font-family: "Anton", sans-serif;
}

#post:hover {
  background-color: #706f6f;
  transition: 500ms;
}

form {
  border: 1px solid black;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  color: #cc4b2c;
  font-weight: bolder;
  font-family: "Anton", sans-serif;
  position: absolute;
  /* overflow: hidden; */
}

table,
tr,
td {
  padding-bottom: 5px;
}

input {
  height: 20px;
}

#h1-contato {
  padding-bottom: 20px;
  font-family: "Anton", sans-serif;
}

#form-header {
  text-align: center;
  padding-bottom: 15px;
  font-family: "Anton", sans-serif;
  font-size: 25px;
}

.box {
  position: relative;
  width: 399px;
  padding: 2px;
  height: 476px;
  border-radius: 22px;
  background-color: white;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 470px;
  background: linear-gradient(0deg, transparent, #f81e01d5, #f81e01d5);
  transform-origin: bottom right;
  animation: animacao 6s linear infinite;
  /* overflow: hidden; */
}

/* .box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 430px;
  background: linear-gradient(0deg, transparent, #f81e01d5, #f81e01d5);
  transform-origin: bottom right;
  animation: animacao 6s linear infinite;
  animation-delay: -3s;
  overflow: hidden;
} */

@keyframes animacao {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* @media screen and (min-width: 380px) {
  section {
    width: 30%;
  }
  .direta {
    width: 25%;
    float: left;
    height: 100%;
  }

  .nav ul li {
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: bolder;
  }

  div.esquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 100%;
  }
} */

/* @media screen and (min-width: 576px) {
  section {
    width: 50%;
  }

  .direta {
    width: 30%;
    float: left;
    height: 100%;
  }

  .nav ul li {
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: bolder;
  }

  div.esquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 100%;
  }
} */

/* 
@media screen and (min-width: 992px) {
  section {
    width: 80%;
  }
  .direta {
    width: 35%;
    float: left;
    height: 100%;
  }
  .nav ul li {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
  }

  .sobre,
  div.esquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 100%;
  }
} */

/* #fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body p {
  margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  display: none;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}  */