* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: bisque;
}

section {
  margin: 50px;
  background-color: white;
  height: 800px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px black;
}

.direta {
  width: 500px;
  float: left;
  height: 800px;
  background-color: #cc4b2c;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin-top: 150px;
  margin-left: 50px;
}
.nav ul li {
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: bolder;
}

.nav ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.nav ul li a:hover {
  color: black;
  cursor: pointer;
}

/* Configuracao especifica da pagina index */
div.sobre {
  /* text-align: center; */
  height: 800px;
}

.sobre h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  color: #cc4b2c;
  font-weight: bolder;
  font-size: 35px;
  font-family: "Anton", sans-serif;
}
.sobre h2 {
  margin-bottom: 30px;
  color: #cc4b2c;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Anton", sans-serif;
}
.sobre button {
  padding: 15px;
  background-color: #cc4b2c;
  color: white;
  border: none;
  border-radius: 20px;
  width: 180px;
}

.sobre button:hover {
  cursor: pointer;
}

.sobre,
div.esquerda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#img-Foto {
  width: 200px;
  width: 200px;
  border-radius: 50%;
}

div.icones {
  margin: 20px 0px;
}
.icones img {
  width: 50px;
  height: 50px;
  height: 50px;
  padding-left: 10px;
}

/* Pagina Sobre.html */
.sobre-text {
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  color: #cc4b2c;
}
.sobre-text h1 {
  margin-top: 30px;
  margin-bottom: 70px;
}

#text {
  margin: 40px 20px;
  text-align: justify;
  font-family: "Anton", sans-serif;
  color: black;
  text-indent: 100px;
}

/* Pagina Formacao.html  */

.sobre-formacao {
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 40px; */
  color: #cc4b2c;
}
div.icones-tecnologia {
  width: 300px;
  text-align: center;
}
div.icones-tecnologia,
h1 {
  margin-bottom: 30px;
}

.icones-tecnologia img {
  width: 40px;
}

div.Academica {
  background-color: #444444;
  color: white;
  text-align: center;
  width: 600px;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  border-radius: 30px;
  cursor: pointer;
  
}

div.Academica:hover{
  background-color: #645b5b;

  cursor: pointer;
  
}




div.Linguagens {
  background-color: #444444;
  color: white;
  text-align: center;
  width: 600px;
  padding: 20px;
  margin-bottom: 10px;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  border-radius: 30px;
}

div.SST {
  background-color: #444444;
  color: white;
  text-align: center;
  width: 600px;
  padding: 20px;
  margin-bottom: 10px;
  font-family: "Anton", sans-serif;
  font-weight: bolder;
  border-radius: 30px;
}


/* teste */

#fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% ;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem ;
}

.modal-body p {
  margin-bottom: 1rem;
} 

#modal.hide,
#fade.hide {
  display: none;
}

#fade,#modal{
  transition: .5s;
  opacity: 1;
  pointer-events: all;
}

